if SHIELD_PUNCH_LEFT

config ZMK_KEYBOARD_NAME
    default "punch"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_PUNCH_LEFT

if SHIELD_PUNCH_LEFT || SHIELD_PUNCH_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_PUNCH_LEFT || SHIELD_PUNCH_RIGHT
